{% extends "base.html" %}
{% load widget_tweaks%}
{% block content%}
{% load crispy_forms_tags %}

<div class="container pt-5">
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}

        <div class="form-group">
            <input>{{post.title}}</input>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span>Add
            </button>
            <a href="{% url 'post_view'%}" class="btn btn-success">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}