{% extends "base.html" %}
{% load widget_tweaks%}
{% block content%}
{% load crispy_forms_tags %}


<div class="container pt-5">
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}

        <div class="form-group row">
            <label for="num">Enter the number of days</label> <input type="number" id="num" value="0">
        </div>
        <br />

        <div class="form-group">
            <button type="submit" class="btn btn-success" id="submit">
                <span class="glyphicon glyphicon-ok"></span>Submit
            </button>
            <button class="btn btn-success" onclick="buttonClick()">Click Here to get a Free trip</button>

            <a href="{% url 'post_view'%}" class="btn btn-success">Cancel</a>
            <br />
            <br />
            <p id="par"></p>
        </div>
    </form>
</div>
{% endblock %}